/lab0/
/lab1/
/lab2/
/lab3/
/lab4/
/lab_final/
/week2/
/week3/
/week4/
/week5/
/week6/
/week7/rcpp_example/untitled
# !/week7/Rcpp_test/CMakeLists.txt
/week8/
/week9/
/week10/
/week11/
/week12/
/week13/
/week15/

.idea

/scripts/
/gsi/

*.log
*.txt.user
/week7/Week7.tex
*.Rhistory
